--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Order" (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    order_id integer NOT NULL,
    user_id integer NOT NULL,
    total integer NOT NULL,
    shipper_id integer NOT NULL,
    status character varying NOT NULL,
    order_date timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."Order" OWNER TO postgres;

--
-- Name: OrderDetail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrderDetail" (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    orderdetail_id integer NOT NULL,
    order_id integer NOT NULL,
    productstockid integer NOT NULL,
    quantity integer NOT NULL,
    "orderDetailTotal" integer NOT NULL,
    price integer NOT NULL
);


ALTER TABLE public."OrderDetail" OWNER TO postgres;

--
-- Name: OrderDetail_orderdetail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."OrderDetail_orderdetail_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."OrderDetail_orderdetail_id_seq" OWNER TO postgres;

--
-- Name: OrderDetail_orderdetail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."OrderDetail_orderdetail_id_seq" OWNED BY public."OrderDetail".orderdetail_id;


--
-- Name: Order_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Order_order_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Order_order_id_seq" OWNER TO postgres;

--
-- Name: Order_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Order_order_id_seq" OWNED BY public."Order".order_id;


--
-- Name: cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "totalCartPrice" integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "userUserId" integer NOT NULL
);


ALTER TABLE public.cart OWNER TO postgres;

--
-- Name: cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cart_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_id_seq OWNER TO postgres;

--
-- Name: cart_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cart_id_seq OWNED BY public.cart.id;


--
-- Name: cart_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_item (
    id integer NOT NULL,
    quantity integer NOT NULL,
    "cartId" integer,
    "productStockProductStockId" integer
);


ALTER TABLE public.cart_item OWNER TO postgres;

--
-- Name: cart_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cart_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_item_id_seq OWNER TO postgres;

--
-- Name: cart_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cart_item_id_seq OWNED BY public.cart_item.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    category_id integer NOT NULL,
    category_name character varying NOT NULL,
    description character varying NOT NULL
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_category_id_seq OWNER TO postgres;

--
-- Name: category_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_category_id_seq OWNED BY public.category.category_id;


--
-- Name: preorder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preorder (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    preorder_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.preorder OWNER TO postgres;

--
-- Name: preorder_preorder_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.preorder_preorder_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.preorder_preorder_id_seq OWNER TO postgres;

--
-- Name: preorder_preorder_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.preorder_preorder_id_seq OWNED BY public.preorder.preorder_id;


--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    product_id integer NOT NULL,
    product_name character varying NOT NULL,
    description character varying NOT NULL,
    supplier_id integer NOT NULL,
    category_id integer NOT NULL,
    image text[] NOT NULL
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_product_id_seq OWNER TO postgres;

--
-- Name: product_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_product_id_seq OWNED BY public.product.product_id;


--
-- Name: productstock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productstock (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    productstock_id integer NOT NULL,
    "productId" integer NOT NULL,
    "variantId" integer NOT NULL,
    price_in integer NOT NULL,
    price_out integer NOT NULL,
    stock integer NOT NULL
);


ALTER TABLE public.productstock OWNER TO postgres;

--
-- Name: productstock_productstock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productstock_productstock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productstock_productstock_id_seq OWNER TO postgres;

--
-- Name: productstock_productstock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productstock_productstock_id_seq OWNED BY public.productstock.productstock_id;


--
-- Name: shipper; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shipper (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    shipper_id integer NOT NULL,
    shipper_name character varying NOT NULL,
    phone character varying NOT NULL
);


ALTER TABLE public.shipper OWNER TO postgres;

--
-- Name: shipper_shipper_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shipper_shipper_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shipper_shipper_id_seq OWNER TO postgres;

--
-- Name: shipper_shipper_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shipper_shipper_id_seq OWNED BY public.shipper.shipper_id;


--
-- Name: shippers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shippers (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    shipper_id integer NOT NULL,
    shipper_name character varying NOT NULL,
    phone character varying NOT NULL
);


ALTER TABLE public.shippers OWNER TO postgres;

--
-- Name: shippers_shipper_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shippers_shipper_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shippers_shipper_id_seq OWNER TO postgres;

--
-- Name: shippers_shipper_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shippers_shipper_id_seq OWNED BY public.shippers.shipper_id;


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    supplier_id integer NOT NULL,
    supplier_name character varying NOT NULL,
    address character varying NOT NULL,
    phone character varying NOT NULL
);


ALTER TABLE public.supplier OWNER TO postgres;

--
-- Name: supplier_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supplier_supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.supplier_supplier_id_seq OWNER TO postgres;

--
-- Name: supplier_supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supplier_supplier_id_seq OWNED BY public.supplier.supplier_id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    user_id integer NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    address character varying NOT NULL,
    phone character varying NOT NULL,
    email character varying NOT NULL,
    birth_date date NOT NULL,
    username character varying NOT NULL,
    password character varying(255) NOT NULL,
    role character varying NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_user_id_seq OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_user_id_seq OWNED BY public."user".user_id;


--
-- Name: variant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant (
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    variant_id integer NOT NULL,
    capacity character varying NOT NULL
);


ALTER TABLE public.variant OWNER TO postgres;

--
-- Name: variant_variant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variant_variant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.variant_variant_id_seq OWNER TO postgres;

--
-- Name: variant_variant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variant_variant_id_seq OWNED BY public.variant.variant_id;


--
-- Name: Order order_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order" ALTER COLUMN order_id SET DEFAULT nextval('public."Order_order_id_seq"'::regclass);


--
-- Name: OrderDetail orderdetail_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderDetail" ALTER COLUMN orderdetail_id SET DEFAULT nextval('public."OrderDetail_orderdetail_id_seq"'::regclass);


--
-- Name: cart id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart ALTER COLUMN id SET DEFAULT nextval('public.cart_id_seq'::regclass);


--
-- Name: cart_item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item ALTER COLUMN id SET DEFAULT nextval('public.cart_item_id_seq'::regclass);


--
-- Name: category category_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN category_id SET DEFAULT nextval('public.category_category_id_seq'::regclass);


--
-- Name: preorder preorder_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preorder ALTER COLUMN preorder_id SET DEFAULT nextval('public.preorder_preorder_id_seq'::regclass);


--
-- Name: product product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product ALTER COLUMN product_id SET DEFAULT nextval('public.product_product_id_seq'::regclass);


--
-- Name: productstock productstock_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productstock ALTER COLUMN productstock_id SET DEFAULT nextval('public.productstock_productstock_id_seq'::regclass);


--
-- Name: shipper shipper_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shipper ALTER COLUMN shipper_id SET DEFAULT nextval('public.shipper_shipper_id_seq'::regclass);


--
-- Name: shippers shipper_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers ALTER COLUMN shipper_id SET DEFAULT nextval('public.shippers_shipper_id_seq'::regclass);


--
-- Name: supplier supplier_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier ALTER COLUMN supplier_id SET DEFAULT nextval('public.supplier_supplier_id_seq'::regclass);


--
-- Name: user user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN user_id SET DEFAULT nextval('public.user_user_id_seq'::regclass);


--
-- Name: variant variant_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant ALTER COLUMN variant_id SET DEFAULT nextval('public.variant_variant_id_seq'::regclass);


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Order" ("createdAt", "updatedAt", order_id, user_id, total, shipper_id, status, order_date) FROM stdin;
\.


--
-- Data for Name: OrderDetail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OrderDetail" ("createdAt", "updatedAt", orderdetail_id, order_id, productstockid, quantity, "orderDetailTotal", price) FROM stdin;
\.


--
-- Data for Name: cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart (id, "userId", "totalCartPrice", "createdAt", "updatedAt", "userUserId") FROM stdin;
\.


--
-- Data for Name: cart_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_item (id, quantity, "cartId", "productStockProductStockId") FROM stdin;
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category ("createdAt", "updatedAt", category_id, category_name, description) FROM stdin;
2025-04-18 03:05:37.89383	2025-04-18 03:05:37.89383	2	Xe sß╗æ	nhß╗¢t d├ánh cho xe sß╗æ
2025-04-18 03:05:22.022978	2025-04-18 03:05:22.022978	1	Xe tay ga	nhß╗¢t d├ánh cho xe tay ga
2025-04-18 03:05:59.375111	2025-04-18 03:05:59.375111	3	Xe ├ö T├┤	nhß╗¢t d├ánh cho ├ö t├┤
\.


--
-- Data for Name: preorder; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.preorder ("createdAt", "updatedAt", preorder_id, user_id) FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product ("createdAt", "updatedAt", product_id, product_name, description, supplier_id, category_id, image) FROM stdin;
2025-04-18 03:40:21.980399	2025-04-18 03:40:21.980399	2	Motul 300V 10W40	Nhß╗¢t Motul 300V	1	2	{480486366_122217683954215277_6401571258192338562_n-26dffd.jpg}
2025-09-26 08:09:26.13546	2025-09-26 08:09:26.13546	3	nhß╗¢t xado	nhß╗¢t xe sß╗æ	1	2	{ec_-_xado_booster_10w40_cde85fb5da0a42deb12e73d57b4337c0_large-f93ab9.jpg}
\.


--
-- Data for Name: productstock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.productstock ("createdAt", "updatedAt", productstock_id, "productId", "variantId", price_in, price_out, stock) FROM stdin;
2025-04-18 03:40:22.048569	2025-04-18 03:40:22.048569	1	2	1	200000	250000	100
2025-09-26 08:09:26.29769	2025-09-26 08:09:26.29769	2	3	1	150	200	300
\.


--
-- Data for Name: shipper; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shipper ("createdAt", "updatedAt", shipper_id, shipper_name, phone) FROM stdin;
\.


--
-- Data for Name: shippers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shippers ("createdAt", "updatedAt", shipper_id, shipper_name, phone) FROM stdin;
\.


--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier ("createdAt", "updatedAt", supplier_id, supplier_name, address, phone) FROM stdin;
2025-04-18 02:59:50.441708	2025-04-18 02:59:50.441708	1	MOTUL	Ch├óu ├éu	0123456789
2025-04-18 03:00:54.195476	2025-04-18 03:00:54.195476	2	XADO	Ukraine	0123456456
2025-04-18 03:02:14.56355	2025-04-18 03:02:14.56355	3	VOLTRONIC	GERMANY	0123789789
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.variant ("createdAt", "updatedAt", variant_id, capacity) FROM stdin;
2025-04-18 03:17:39.042845	2025-04-18 03:17:39.042845	1	1L
2025-04-18 03:17:47.887467	2025-04-18 03:17:47.887467	2	1,5L
2025-04-18 03:17:54.66523	2025-04-18 03:17:54.66523	3	2L
2025-04-18 03:17:58.762263	2025-04-18 03:17:58.762263	4	5L
\.


--
-- Name: OrderDetail_orderdetail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."OrderDetail_orderdetail_id_seq"', 1, false);


--
-- Name: Order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Order_order_id_seq"', 1, false);


--
-- Name: cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_id_seq', 4, true);


--
-- Name: cart_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_item_id_seq', 1, false);


--
-- Name: category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_category_id_seq', 3, true);


--
-- Name: preorder_preorder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preorder_preorder_id_seq', 1, false);


--
-- Name: product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_id_seq', 3, true);


--
-- Name: productstock_productstock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.productstock_productstock_id_seq', 2, true);


--
-- Name: shipper_shipper_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shipper_shipper_id_seq', 1, false);


--
-- Name: shippers_shipper_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shippers_shipper_id_seq', 1, false);


--
-- Name: supplier_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_supplier_id_seq', 3, true);


--
-- Name: user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_user_id_seq', 4, true);


--
-- Name: variant_variant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.variant_variant_id_seq', 4, true);


--
-- Name: product PK_1de6a4421ff0c410d75af27aeee; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "PK_1de6a4421ff0c410d75af27aeee" PRIMARY KEY (product_id);


--
-- Name: user PK_758b8ce7c18b9d347461b30228d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_758b8ce7c18b9d347461b30228d" PRIMARY KEY (user_id);


--
-- Name: variant PK_7a3351a3a245dcdd9b6d1429b20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant
    ADD CONSTRAINT "PK_7a3351a3a245dcdd9b6d1429b20" PRIMARY KEY (variant_id);


--
-- Name: preorder PK_9a369488e354a3ff70044aacb3a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preorder
    ADD CONSTRAINT "PK_9a369488e354a3ff70044aacb3a" PRIMARY KEY (preorder_id);


--
-- Name: shippers PK_9bef4956047f7f58f2b285f5b84; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT "PK_9bef4956047f7f58f2b285f5b84" PRIMARY KEY (shipper_id);


--
-- Name: Order PK_9f34c73293ac98f27b3f43187b4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "PK_9f34c73293ac98f27b3f43187b4" PRIMARY KEY (order_id);


--
-- Name: productstock PK_a0a76d200bf3c87408c6ff1f8a1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productstock
    ADD CONSTRAINT "PK_a0a76d200bf3c87408c6ff1f8a1" PRIMARY KEY (productstock_id);


--
-- Name: cart_item PK_bd94725aa84f8cf37632bcde997; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT "PK_bd94725aa84f8cf37632bcde997" PRIMARY KEY (id);


--
-- Name: cart PK_c524ec48751b9b5bcfbf6e59be7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT "PK_c524ec48751b9b5bcfbf6e59be7" PRIMARY KEY (id);


--
-- Name: category PK_cc7f32b7ab33c70b9e715afae84; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT "PK_cc7f32b7ab33c70b9e715afae84" PRIMARY KEY (category_id);


--
-- Name: supplier PK_e0f8ee60663218082b83251cd85; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT "PK_e0f8ee60663218082b83251cd85" PRIMARY KEY (supplier_id);


--
-- Name: shipper PK_ea997cb8659b452b8b8994f86c0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shipper
    ADD CONSTRAINT "PK_ea997cb8659b452b8b8994f86c0" PRIMARY KEY (shipper_id);


--
-- Name: OrderDetail PK_ef8eeab156c8d872134b34fcf20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderDetail"
    ADD CONSTRAINT "PK_ef8eeab156c8d872134b34fcf20" PRIMARY KEY (orderdetail_id);


--
-- Name: user UQ_638bac731294171648258260ff2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_638bac731294171648258260ff2" UNIQUE (password);


--
-- Name: variant UQ_9e77ce346174fec2195a220efa8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant
    ADD CONSTRAINT "UQ_9e77ce346174fec2195a220efa8" UNIQUE (capacity);


--
-- Name: product FK_0dce9bc93c2d2c399982d04bef1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "FK_0dce9bc93c2d2c399982d04bef1" FOREIGN KEY (category_id) REFERENCES public.category(category_id);


--
-- Name: cart_item FK_29e590514f9941296f3a2440d39; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT "FK_29e590514f9941296f3a2440d39" FOREIGN KEY ("cartId") REFERENCES public.cart(id) ON DELETE CASCADE;


--
-- Name: preorder FK_6e91f37649738b4dfd5de952c00; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preorder
    ADD CONSTRAINT "FK_6e91f37649738b4dfd5de952c00" FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: Order FK_7477f3834d61a7046a0674cb499; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "FK_7477f3834d61a7046a0674cb499" FOREIGN KEY (shipper_id) REFERENCES public.shippers(shipper_id);


--
-- Name: OrderDetail FK_7c0ad35f8f0f2390b43767acb3a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderDetail"
    ADD CONSTRAINT "FK_7c0ad35f8f0f2390b43767acb3a" FOREIGN KEY (productstockid) REFERENCES public.productstock(productstock_id);


--
-- Name: Order FK_8a7c8fd5a1a997d18774b7f2b24; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "FK_8a7c8fd5a1a997d18774b7f2b24" FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: product FK_97bbe59fdd40a53bd9c95b6c01b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "FK_97bbe59fdd40a53bd9c95b6c01b" FOREIGN KEY (supplier_id) REFERENCES public.supplier(supplier_id);


--
-- Name: productstock FK_a9f9003117ea836e5bc0cec49d0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productstock
    ADD CONSTRAINT "FK_a9f9003117ea836e5bc0cec49d0" FOREIGN KEY ("variantId") REFERENCES public.variant(variant_id);


--
-- Name: OrderDetail FK_b770c92e99e28d83c8aa72dba75; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderDetail"
    ADD CONSTRAINT "FK_b770c92e99e28d83c8aa72dba75" FOREIGN KEY (order_id) REFERENCES public."Order"(order_id);


--
-- Name: cart FK_cc71663691ad9f7a9b178c7a225; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT "FK_cc71663691ad9f7a9b178c7a225" FOREIGN KEY ("userUserId") REFERENCES public."user"(user_id);


--
-- Name: cart_item FK_f476767bcb79d45b67bb100c32b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT "FK_f476767bcb79d45b67bb100c32b" FOREIGN KEY ("productStockProductStockId") REFERENCES public.productstock(productstock_id);


--
-- Name: productstock FK_f6b8977dc860134ae952bb7a7be; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productstock
    ADD CONSTRAINT "FK_f6b8977dc860134ae952bb7a7be" FOREIGN KEY ("productId") REFERENCES public.product(product_id);


--
-- PostgreSQL database dump complete
--

